button {
    height: 535px;
    width: 300px;
    outline: none;
    margin: 2px;
    border: none;
    border-radius: 2px;
    padding:3px;
}

    button.current {
        box-shadow: 0 0 0 2px white, 0 0 0 4px black;
    }

messagebox {
    background: grey;
    height: 35px;
    width: 250px;
    position: absolute;
    left: 9px;
    bottom: 9px;
    border: 2px solid blue;
}
        messagebox.message {
            color: white;
            
        }

sendbox {
    background: dimgrey;
    position: absolute;
    right: 9px;
    bottom: 9px;
    height:35px;
    width:50px;
    border: 2px solid blue;
}
    sendbox.send {
        color:white;
                 }
chatbox {
    top:45px;
    left:10px;
    height: 460px;
    width: 300px;
    background: grey;
    position: absolute;
}
ticker {
    top: 10px;
    left: 10px;
    height: 35px;
    width: 300px;
    background: black;
    position: absolute;
}